name: Prep Terraform

on: 
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
    prep:
        runs-on: ubuntu-latest
        env:
            TF_VAR_client_secret: ${{ secrets.CLIENT_SECRET }}
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v1
              with:
                terraform_version: 1.5.7
            
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-skip-session-tagging: true
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-west-1
                role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                role-external-id: ${{ secrets.AWS_ROLE_EXTERNAL_ID }}
                role-session-name: MySessionName

            - name: Initialize and Apply
              run: |
                terraform destroy -auto-approve
