name: Prep Terraform

on: 
    pull_request:
        branches:
            - main
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
    prep:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v1
              with:
                terraform_version: 1.5.7
            
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-west-1
                role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                role-external-id: ${{ secrets.AWS_ROLE_EXTERNAL_ID }}
                role-session-name: MySessionName

            - name: Verify Terraform code checks out
              run: |
                terraform fmt
                terraform init
                terraform validate
                terraform plan

    